body{
    margin:0;
    padding:0;
    height:100%;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, sans-serif;
  }

  * {box-sizing: border-box;}
 
  .mySlides {display: none;}
  img {vertical-align: none;}
  
  /* Slideshow container */
  .slideshow-container {
    
    max-width: 1000px;
    max-height: 500px;
    position: relative;
    margin: auto;
    padding: 10px;
  }
  .slide-img{
   
   max-height: 530px; 
   width:100%;
  }
  /* Caption text */
  .text {
    background: linear-gradient(45deg,black 0%,
rgba(144,192,229,.4) 100%);
width:100%;
    color: #A7C2CE;
    font-size: 15px;
    position: absolute;
    padding-bottom: auto;
    bottom: 70px;
    width: 100%;
    text-align: center;
  }
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #A7C2CE;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
/*Modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}
.close {
 float: right;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: rgb(184, 37, 11);
  cursor: pointer;
}
  .main-logo{
    width: 250px;
    height: auto;
 }
 .topnav {
  height: 70px;
   font-family: elephant;
  background: #024059;
  list-style-type: none;
  margin: 0;
  padding: 10px 40px 5px 20px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 1;
  left: 0;
}
.topnav li {
  float: right;
}
.menulink {
  display: block;
  color: #A7C2CE;
  text-align: center;
  font-size: 17px;
  padding: 10px 40px 10px 20px;
  width: 100%;
  text-decoration: none; 
}
.active{
  color: blue;
}
.menulink:hover:not(.active) {
  color:#22646E;
  
}
.artimage{
  width: 100%;
  transition: all .5s;


}
.secart{
  padding: auto;
  margin-top:30px;
  background: #024059;
  text-align: center;

}
.artcontainer{
  max-width:1200px ;
  width:100%;
  margin:0 outo;
}
.artmain{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 50px;
  margin:30px 15px 0px  15px;
  padding: 5px;
}
.arthead{
  width: 70%;
  margin: 0 auto;

}
.arth1{
  margin:3px;
  font-size: 50px;
  color:#A7C2CE;
  font-weight: 500;
}
.singlearticle{
  position:relative;
  overflow: hidden;
  max-height: 580px;
  height: 100%;
  box-sizing: 0 2px 10px #ccc;
  transition: all.5s;
}
.singlearticle:hover{
  box-shadow: 0 2px 10px #ccc;
}
.singlearticle:hover img{
  transform: scale(1.1);
  transform: all .4s;

}
.artcontent{
position:absolute;
left: 0;
bottom: -45px;
width: 100%;
color:#A7C2CE;
padding:10px 5px;
background: linear-gradient(45deg,black 0%,
rgba(144,192,229,.4) 100%);
transition: all .5s;
}
.singlearticle:hover .artcontent{
  bottom: 0;
  transition: all.5s;

}
.artcontent h3{
  font-size: 20px;
  font-weight: 500;
  margin: 0;

}
.artcontent h3 span{
  display: block;
  font-size: 85%;
  margin-top: 5px;
  font-weight: 600;
  color: #ccc;

}
.artcontent a{
  color: #ccc;
  font-size: 14px;
  font-weight: 500;
}
.artcontent .articlebtn{
  display: inline-block;
  padding:5px 10px;
  border:1px solid #A7C2CE;
  border-radius: 3px;
  font-weight: 400;
  
}

.centered-form h2{
  
  color: #A7C2CE;
  font-size: 30px;
}
.centered-form{
  width: 400px;
  padding: 20px;
  text-align: center;
  background-color: #012E40;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 70px;
  border-radius: 5px;
}
.form-input{
  display: block;
  width: 100%;
  padding: 0 16px;
  height: 44px;
  text-align: left;
  box-sizing: border-box;
  outline: none;
  border: none;
 
  
}
.art-input{
  display: block;
  width: 70%;
  padding: 0 16px;
  height: 44px;
  text-align: left;
  box-sizing: border-box;
  outline: none;
  border: none;
}
.art-area{
  display: block;
  width: 70%;
  padding: 0 16px;
  text-align: left;
  box-sizing: border-box;
  outline: none;
  border: none;
}
.txtb{
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.781);
  border-radius: 6px;
}
.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: center;
  top: 50px;
  left : calc(50% -50px);
}
.link{
  text-decoration: none;
  color: #A7C2CE;
  
  font-size: 14px;
  padding: 10px;
  transition: 0.8s;
  display: block;
}
.link:hover{
  color: blue;
}
/* Button Design */
.btn{
  margin:0 auto;
  margin-top: 60px;
  margin-bottom: 20px;
  background: #487eb0;
  color: #fff;
  cursor: pointer;
  width: 130px;
  transition: 0.8s;
  padding: 0 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 12px;
}

/* Footer styles */
.footer{
    
  background:#024059;
  color:  #A7C2CE;
  text-align: center;
  bottom:0px;
  width:100%;
  height:40px;
  margin-top:60px;
  padding-top: 2px;
  padding-bottom: 5px; 
}
/*mobile navigations*/ 

.sidenav {
  height: 300px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #27425d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
 
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.mobnav{
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 1;
  left: 0;
  display: none;
  background: #27425d;

}
.mob-menu-icon{
  color: #fff;
  float: left;
}
.mob-logo{
  text-align: center;
}
 /*account css*/
 .head{
 
  height: 60px;
  background-color:#024059;
  color: aliceblue;
}
.content-container{
  padding: 0;
  width: 100%;
}
.admin-wrapper{
  padding: 0;
  display: flex;
  height: calc(100%-60px);
}
.left-sidebar{
  flex: 8;
  background:  #142D41;
  color: aliceblue;
 
}
/*search*/
.search-filter{
  display: flex;
  flex-direction: row;
}
.search-input-container{
  background-color:aliceblue;
    position:relative;
    border: 1px solid #487eb0;
    border-radius: 44px;
    width:400px;
    height: 40px;
    margin-left: 50px;
    
}
.search-input{
    
  background:transparent;
    border-style: none;
    width: 350px;
    height: 40px;
    text-align: center;
    outline: none;
    font-size: 15px;
    padding-right: 80px;
}
.search-input{
  text-align: left;
  margin-left: 10px;
}
.btn-custom{

  position:absolute;
  display: inline;
  border: 1px solid #487eb0; 
  text-align: center;
  border-radius: 0px 44px 44px 0px;
  top:0;
  right:0;
  background: #487eb0;
  color: aliceblue;
  box-sizing: border-box;
  height : 40px;
  width : 100px;
  outline: none;
}
.article-input{
background: aliceblue;
  width:wrap;
  height:30px;
  border: 1px solid #c7c7c7;
  margin:0px 20px 20px 20px;
  font-size: 15px;
  padding: 2px;
  display: block;
  border-radius: 5px  ;
  -webkit-border-radius: 5px  ;
  -moz-border-radius: 5px  ;
  -ms-border-radius: 5px  ;
  -o-border-radius: 5px  ;
}
.article-input:focus{
  border: 2px solid #27425d;
}



.admin-wrapper .right-sidebar{
  flex: 2;
  height: 620px;
  
  background:#234a57;
  }
.admin-wrapper .right-sidebar ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  color: aliceblue;

  }

  .admin-wrapper .right-sidebar ul li a{
padding: 18px;
display:block;
border-bottom:1px #234a57;
color: aliceblue;

  }
  .admin-wrapper .right-sidebar ul li a:hover{
      background: #2E5574;
  }
  
.content{
  height: 508px;
  overflow-y: auto;
  color:aliceblue;
  font-weight: 500;
}
.page-title{
  position: left;
  text-align: center;
  margin-bottom:1em;

}        
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1em;
    overflow-x: auto;
}  
  
th,td{
    padding: 15px;
    text-align: left;
  
    border-bottom: 1px solid aliceblue;
}
td{
  font-weight: 500;
}
.edit{
    color:green;
}
.delete{
    color:darkgoldenrod;

}
.publish{
    color:#3C88A6;

}
.sidelinks{
  display: block;
  color: aliceblue;
  text-align: center;
  
  font-size: 17px;
  padding: 10px 10px 10px 0px;
  text-decoration: none;
  
}
.account-logo{
  width: 180px;
  height: 60px;
 float: center;
}
.article-form{
  float: center;
  width: 80%;
  padding: 20px;
  text-align: center;
  background-color: #012E40;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 70px;
  border-radius: 5px;
}
/*articles*/
.post{
  width: 96%;
  height: 200px;
  margin: 20px auto;
  border-radius: 5px;  
  position:relative;
  background: #487eb0;
  
}
.post .postimage {
  padding: 7px;
  width: 33%;
  height:180px;
  float:left;
}
.post .post-preview{
  width: 65%;
  padding: 0px;
  float: right;
}
.readbtn{
  text-decoration: none;
  padding:7px;
  background: #006669;
  color:white;
  border:1px solid  transparent;
  border-radius: .25em;
  bottom:10px;
  right:10px;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
/*singlearticle*/
.single-art{
  width: 99%;
  height: 600px;
  overflow-y: auto;
 
  border-radius: 5px;  
  position:relative;
  background: #487eb0;
  
}
.single-art .art-image{
  padding: 7px;
  width: 63%;
  height:380px;
  float:left;
}
.single-art .art-preview{
  
  padding: 0px;

}
/*comments*/


/*view on phone and tablets*/

@media(max-width:1024px){
  .artmain{
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;

  }

  .artcontent{
    bottom:0;
  }
}



@media(max-width:992px){
  .artmain{
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;

  }
  .article-input{
    margin: 5px;
  }
  .search-filter{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 50%;  
  }
  .search-input-container{
      width:280px;
      margin-left: 0px;
      margin-bottom: 10px;
      
  }
  .search-input{
    text-align: left;
    margin-left: 10px;
  }
  .artcontent{
    bottom:0;
  }
  /* form login*/
  .centered-form{
    width: 250px;
    padding: 20px;

  }

  /* navigations*/
  .topnav{
    display: none;
  }
  .admin-panel{
    display: none;
  }
  .mobnav{
    display: block;
    width: 100%;
  }
}
@media (max-width:768px){
  .artmain{
    grid-template-columns: repeat(1,1fr);
    grid-gap: 15px;

}
.arth1{
  margin:3px;
  font-size: 10px;
  color:#A7C2CE;
  font-weight: 500;
}
.artcontent{
  bottom:0;
}
.right-sidebar{
  display: none;
}

.admin-wrapper{
  padding: 0;
  display: flex;
  height: calc(100%-10px);
}

}

@media (max-width:500px){
  .artmain{
    grid-template-columns: repeat(1,1fr);
   

}
.arth1{
  margin:3px;
  font-size: 20px;
  color:#A7C2CE;
  font-weight: 500;
}
}
@media (max-width:600px){
  .post{
    width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 5px;  
    position:relative;
    background: #487eb0;
    padding-bottom: 4px;
  }
  .head{
    visibility: hidden;
  }
  .post .postimage {
    padding: 7px;
    width: 100%;
    height:180px;

  }
  .post .post-preview{
    width: 100%;
    padding: 0px;
 
  }
  .article-input{
    margin: 5px;
  }
  .search-filter{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 40%;  

  }
  .search-input-container{
      width:280px;
      margin-left: 0px;
      margin-bottom: 10px;
      height: 40px;
  }
  .search-input{
    text-align: left;
    margin-left: 10px;
  }
  .artcontent{
    margin-top: 80px;
    bottom:0;
  }
  
  .admin-wrapper{
    padding: 0;
    display: flex;
    
  }

  /*singlearticle*/
.single-art{
  width: 100%;
  height: auto;
  overflow-y: auto;
  border-radius: 5px;  
  position:relative;
  background: #487eb0;
  
}
.single-art .art-image{
  padding: 7px;
  width: 100%;
  height:auto;
 
}
.single-art .art-preview{
  
  padding: 0px;

}
  
}

